<!DOCTYPE html>

﻿<html>
<head>
	<title>Sort Me Out</title>
	<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
	<!--<link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">-->
	<link href="stylesheets/main.css" rel="stylesheet">

	<!-- Typekit trucs -->
	<script src="https://use.typekit.net/wcf0pve.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" sizes="57x57" href="assets/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="assets/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/favicons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="assets/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="assets/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="assets/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
	<link rel="manifest" href="assets/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="assets/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>
<body>

<!-- make sure to add this centered text to every page -->
<h1>sort me out</h1>
<div class="container-fluid" id="menu">
	<div class="row">
		<div class="col-xs-4 text-center" >
		<a href="/"><p style="color: #64CC8B;">how</p></a>
		</div>
		<div class="col-xs-4 text-center">
		<a href="/why"><p>why</p></a>
		</div>
		<div class="col-xs-4 text-center">
		<a href="/what"><p>what</p></a>
		</div>
	</div>
</div>

<div class="container-fluid" id="info">
	<div class="alert  alert-dismissible col-xs-12 col-sm-6 col-sm-offset-3" role="alert">
  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<p>sort me out is a way to view the most popular clothes on ShopStyle sorted by the sustainabilty of the brand, according to rankabrand.com</p>
	</div>
</div>


<div class="container-fluid">
	{% for key, value in md.items()%}
		<div class="row">
			{% for category in value %}

  			<div class="col-xs-4 col-lg-2">
				<div class="thumbnail">
					<a href="/products?cat={{category.id}}">
					<img class="img-responsive" src="{{category.imgSrc}}" alt="image of top selling {{category.name}} product">
					<div class="caption">
						<p>{{category.name}}</a></p>
					</div>
				</div>
    		</div>
			{% endfor %}
		</div>
	{% endfor %}
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!--<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>-->

<script src="bootstrap/js/bootstrap.js"></script>
</body>
</html>