body {
    color: #000000;
    font-family: "Neuzeit Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}


p, a {
    text-align: center;
    color: #000000;
}

#menu {
    font-size: 30px;
}

h1 {
    color: #64CC8B;
    font-weight: 600;
    font-size: 36px;
}

#retailer {
    font-weight: 600;
}
